
<ul class="commentList">
  <% @comments.each do |cmt| %>
  <li class="listItem">
    <div class="comment2">
      <div class="left">
        <a class="userface" href="<%= link_his_path(cmt.uid) %>" card="<%= cmt.uid %>">
          <img alt="<%= cmt.nickname %>" src="<%= picture_url('header', cmt.avatar_path, 60) %>" data-options="defaultImg:person_60">
        </a>
      </div>
      <div class="right">
        <a href="javascript:;" class="reportBtn" title="举报" data-options="<%= {track_id:cmt.track_id,comment_id:cmt.id,uid:@current_uid,to_uid:cmt.uid,content_title:cmt.content,content_type:ReportInformation::TYPE["comment"]}.to_json %>"></a>
        <div>
          <a href="<%= link_his_path(cmt.uid) %>" card="<%= cmt.uid %>"><%= cmt.nickname %><% if @profile_users[cmt.uid].isVerified %><i class="VIcon">&nbsp;</i><% end %></a>&nbsp;<span><% if cmt.second %>在声音 <%= parse_duration cmt.second %> 处<% end %>评论</span>
        </div>
        <div class="comment_content"><%== simple_format(puts_face(cmt.content)) %></div>
        <div class="comment_bottom">
          <span class="comment_createtime"><%= cmt.created_at.strftime('%-m月%-d日 %H:%M') %></span>
          <a href="javascript:;" class="replyBtn" data-options="<%= {c_id: cmt.id, c_second: cmt.second,c_nickname: cmt.nickname}.to_json %>">回复</a>
          <% if cmt.uid==@current_uid or @tir.uid==@current_uid %>
          <a class="delBtn" data-options="<%= {comment_id:cmt.id,track_id:cmt.track_id}.to_json %>">删除</a>
          <% end %>
        </div>
        <div class="reply_box_entry"></div>
        <% if (replies=@replies[cmt.id]).size > 0 %>
        <div class="commentReply mgT10 is-comment-onReplay">
        <% replies.each_with_index do |reply, i| %>
          <div class="comment <% if i > 0 %>mgT20<% end %>">
            <div class="left">
              <a class="userface" href="<%= link_his_path(reply.uid) %>" card="<%= reply.uid %>">
                <img alt="<%= reply.nickname %>" src="<%= picture_url('header', reply.avatar_path, 60) %>" data-options="defaultImg:person_60">
              </a>
            </div>
            <div class="right">
              <a href="javascript:;" class="reportBtn" title="举报" data-options="<%= {track_id:cmt.track_id,comment_id:reply.id,uid:@current_uid,to_uid:reply.uid,content_title:reply.content,content_type:ReportInformation::TYPE["comment"]}.to_json %>"></a>
              <div>
                <a href="<%= link_his_path(reply.uid) %>" card="<%= reply.uid %>"><%= reply.nickname %><% if @profile_users[reply.uid].isVerified %><i class="VIcon">&nbsp;</i><% end %></a>
              </div>
              <div class="comment_content"><%== simple_format(puts_face(reply.content)) %></div>
              <div class="comment_bottom">
                <span class="comment_createtime"><%= reply.created_at.strftime('%-m月%-d日 %H:%M') %></span>
                <a href="javascript:;" class="replyBtn" data-options="<%= {c_id: reply.id, c_second: reply.second, c_nickname: reply.nickname}.to_json %>">回复</a>
                <% if reply.uid==@current_uid or @tir.uid==@current_uid %>
                <a class="delBtn" data-options="<%= {comment_id:reply.id,track_id:cmt.track_id}.to_json %>">删除</a>
                <% end %>
              </div>
            </div>
            <div class="reply_box_entry"></div>
          </div>
        <% end %>
        </div>
        <% end %>
      </div>
    </div>                
  </li>
  <% end %>
</ul>

<div class="pagingBar mgT30">
  <%== paginate CustomPagination.new(@comments_count,@page,@per_page), {outer_window: 1, theme: 'explore'} %>
</div>
