<div id="personalLike" class="mgT30">
    <div class="mainbox_left">
        <div class="personal_container">
            <div class="personal_header">
                <div class="picture">
                    <a href="<%= link_path("/#{@u.uid}/") %>">
                        <img src="<%= picture_url('header', @u.logoPic, '60') %>">
                    </a>
                </div>
                <div class="nav_wrap">
                    <div class="username">
                        <%= @u.nickname %>
                        <% if @u.isVerified %><i class="VIcon">&nbsp;</i><% end %>
                        <a class="addBtn3 <%= "already" if @is_follow %> <%= "both" if @be_followed %>" data-options="<%= {uid:@u.uid,is_follow:@is_follow,be_followed:@be_followed,nickname:@u.nickname}.to_json[1..-2] %>" href="javascript:;">
                            <span class="default"><%= (@is_follow && @be_followed) ? "相互" : @is_follow ? "已" : "" %>关注</span>
                            <span class="hover">取消</span>
                        </a>
                    </div>
                    <ul class="nav_list">
                        <li class="nav_item"><a href="<%= link_path("/#{@u.uid}/") %>">主页</a></li>
                        <li class="nav_item"><a href="<%= link_path("/#{@u.uid}/sound/") %>">声音</a></li>
                        <li class="nav_item"><a href="<%= link_path("/#{@u.uid}/album/") %>">专辑</a></li>
                        <li class="nav_item on"><a href="<%= link_path("/#{@u.uid}/favorites/") %>">赞过的</a></li>
                        <li class="nav_item"><a href="<%= link_path("/#{@u.uid}/follow/") %>">关注</a></li>
                        <li class="nav_item"><a href="<%= link_path("/#{@u.uid}/fans/") %>">粉丝</a></li>
                    </ul>
                </div>
            </div>
            <div class="personal_body">
                <div class="body_top">
                    <div class="left">
                        <span class="title"><%= @u.nickname %>赞的声音</span>
                    </div>
                    <div class="right">
                        <ul class="sub_nav_list">
                            <% 
                            order = params[:order]=="created_at asc" ? "created_at desc" : "created_at asc"
                            q = {q:params[:q],order:order}.delete_if{ |key,value| value.nil? or value=="" }
                            link_params = q.collect{|key,value| "#{key}=#{value}" }.join("&")
                             %>
                            <a href="<%= link_path "/#{@u.uid}/favorites/?#{link_params}" %>" class="sort_icon <%= params[:order]=="created_at asc" ? 'down' : 'up' %>">赞的时间</a>
                        </ul>
                    </div>
                </div>

                <div class="personal_list_head">
                    <div class="left"><%= (params[:q] and params[:q]!="") ? "找到#{@favorites_count}个符合条件的声音" : "共有#{@favorites_count}个声音" %></div>
                    <div class="searchPanel2 right">
                        <input class="search_input" type="text" value="<%= params[:q] %>" name="" autocomplete="off" placeholder="搜索声音">                      
                        <span class="search_btn"></span>
                    </div>
                </div>

                <div class="body_list_wrap">
                    <% if @favorites && @favorites.length>0 %>
                    <ul class="body_list feedList" sound_ids="<%= @favorites.collect{|r|r.track_id}.join(",") %>">
                        <% @favorites.each_with_index do |f,i| %>
                        <%
                          user = @users[f.track_uid]
                        %>
                        <li class="listItem" sound_id="<%= f.track_id %>">
                            <div class="feed">
                                <div class="left">
                                    <a class="userface" href="<%= link_his_path(f.track_uid) %>">
                                        <img src="<%= picture_url('header', user.logoPic, '60') %>" alt="">
                                    </a>
                                </div>
                                <div class="right">

                                    <div class="feed_operate">
                                        <a href="javascript:;" class="reportBtn" title="举报" data-options="track_id:<%= f.track_id %>,content_title:'<%= f.title %>',content_type:1"></a>
                                    </div>

                                    <div class="sound">
                                        <div class="sound_unexpandBox">
                                            <div class="sound_titlebar">
                                                <a href="<%= link_path "/#{f.track_uid}/sound/#{f.track_id}" %>" class="sound_title"><%= f.title %></a>
                                                <span class="sound_playcount" title="<%= @track_plays_counts[i] %>次播放"><%= @track_plays_counts[i] %></span>
                                            </div>
                                            <div class="smallPlayer">
                                                <a href="javascript:;" class="playBtn"></a> <span class="duration"><%= parse_duration f.duration %></span>
                                                <% if f.cover_path and f.cover_path!="" %>
                                                <div class="pin" sound_popsrc="<%= f.track_id %>">
                                                    <a href="<%= link_path "/#{f.track_uid}/sound/#{f.track_id}" %>" class="soundface">
                                                        <img alt="" src="<%= picture_url('track', f.cover_path, '60') %>" data-options="defaultImg:track_60">
                                                        <span></span>
                                                    </a>
                                                </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <div class="sound_expandBox">
                                            <div class="sound_titlebar">
                                                <a class="sound_title" href="<%= link_path "/#{f.track_uid}/sound/#{f.track_id}" %>"><%= f.title %></a>
                                                <span class="sound_playcount" title="<%= @track_plays_counts[i] %>次播放"><%= @track_plays_counts[i] %></span>
                                                <div class="fr"><span class="sound_position">00:00</span>/<span class="sound_duration"><%= parse_duration f.duration %></span></div>
                                            </div>
                                            <div class="feed_middlePlayerBox">
                                                <div class="middlePlayer">
                                                    <div class="left">
                                                        <a class="playBtn"></a>
                                                    </div>
                                                    <div class="right">
                                                        <!-- 进度条 -->
                                                        <div class="player_progressbar">
                                                            <div class="player_progressbarBg"></div>
                                                            <div class="player_seekbar"></div>
                                                            <div class="player_playbar"></div>
                                                            <% if f['waveform'] %>
                                                                <div class="player_wavebox" sound_wave="<%= get_wave_url f['waveform'] %>" sound_uploadid="<%= f['upload_id'] %>"></div>
                                                            <% end %>
                                                             <div class="player_progressbarCoverBg"></div>
                                                            <div class="player_nonius">
                                                                <div class="player_nonius_cover"></div>
                                                                <div class="player_nonius_time">00:00</div>
                                                                <div class="player_nonius_line5"></div>
                                                                <div class="player_nonius_line3"></div>
                                                            </div>
                                                        </div>
                                                        <!-- 二维评论 -->
                                                        <div class="player_commentbar">
                                                        </div>
                                                        <div class="player_operate">
                                                            <a href="javascript:;" class="player_commentbarBtn"  title="显示/隐藏评论"></a>
                                                        </div>
                                                    </div>
                                                    <% if f.cover_path and f.cover_path!="" %>
                                                    <div class="pin" sound_popsrc="<%= f.track_id %>">
                                                        <a href="<%= link_path "/#{f.track_uid}/sound/#{f.track_id}" %>" class="soundface">
                                                            <img alt="" src="<%= picture_url('track', f.cover_path, '60') %>" data-options="defaultImg:track_60">
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                    <% end %>
                                                </div>
                                            </div>
                                            <div class="sound_content">
                                              <%= f.intro.truncate(160) if f.intro %>
                                            </div>
                                        </div>

                                        <div class="sound_bottom">
                                            <span class="createtime"><%= parse_time_until_now(f.created_at) %></span>

                                            <div class="fr">
                                                <a class="downloadToMobile link1">下载到手机</a>
                                                <a href="javascript:;" class="likeBtn link1 is-sound-liked">赞(<span class="count"><%= @track_favorites_counts[i] %></span>)</a>
                                                <a href="javascript:;" class="commentBtn link1">评论(<span class="count"><%= @track_comments_counts[i] %></span>)</a>
                                                <a href="javascript:;" class="forwardBtn link1">转采(<span class="count"><%= @track_shares_counts[i] %></span>)</a>
                                                <% bds_config = {
                                                    bdDes:"喜马拉雅好声音",
                                                    text:"#{f.intro.truncate(80) if f.intro} 我觉得《#{f.title}》听起来挺不错的，你觉得呢？（分享自 @喜马拉雅好声音 ）",
                                                    title:f.title,
                                                    pic:picture_url('track', f.cover_path, '180'),
                                                    url:"#{Settings.home_root}/#{f.track_uid}/sound/#{f.track_id}"
                                                } %>
                                                <a href="javascript:;" class="bdShareBtn link1" data="<%= Yajl::Encoder.encode(bds_config) %>">分享</a>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="comment_box_entry"></div>
                                            <div class="relay_box_entry"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <% end %>
                    </ul>

                    <div class="pagingBar mgTB20">
                        <%== paginate CustomPagination.new(@favorites_count,@page,@per_page), {outer_window: 1, url:"/#{@u.uid}/favorites", link_path: @current_uid.present?} %>
                    </div>
                    
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <%== erb :'_mainbox_right' %>
    
    <%== $comment_inputbox_template %>
    
</div>