<link href="<%= css_url '/css/passport/passport.css' %>" rel="stylesheet" type="text/css" />
<!--主体 start-->
<div id="home_wrapper">
    <div id="home_containter">
        <div class="personalSet aboutUs aboutUs-ximalaya">
            <div class="personalSet-main">
                <div class="personalSet-main-tit"> <strong>关于喜马拉雅</strong></div>


                <div class="aboutUs-panel">
                    <p class="p_con"><h1 style="font-size:16px;margin-bottom:10px;">我们的喜马拉雅</h1></p>

                    <p class="p_con">
                        &nbsp;&nbsp;&nbsp;说起喜马拉雅，“高度”和“纯粹”，几乎是每个人最自然的联想。是的，做一个有高度、够纯粹的好声音平台，正是我们的梦想。
                    </p>

                    <p class="p_con">
                        &nbsp;&nbsp;&nbsp;所以，我们重新发明了电台，让人们不仅能随时随地，听我想听，更能够轻松创建个人电台，随时分享好声音。
                    </p>

                    <p class="p_con">
                        &nbsp;&nbsp;&nbsp;在喜马拉雅，你随手就能上传声音作品，创建一个专属于自己的个人电台，自然地积累着粉丝，并始终和他们连在一起。你也可以 + 关注感兴趣“个人电台”，只听自己想听的。无论新闻资讯、电视电台节目、音乐mp3、有声小说、英语、相声、评书，还是财经股票、教育培训、健康养生、社科人文、儿童故事，这世界有声的一切，喜马拉雅应有尽有。你可以在电脑上听，也可以在手机上听，IPhone、Ipad、Android等等最酷的移动终端都能听！
                    </p>

                    <p class="p_con">
                        &nbsp;&nbsp;&nbsp;从此，你无需再憋屈“电台放什么，你不得不听什么”，你无需再忍受你不想听的无休无止的广告，你只管听所爱！
                    </p>

                    <p class="p_con">
                        &nbsp;&nbsp;&nbsp;而听所爱的人也在听你！缤纷的内容充实了你碎片的时间，你充实了别人的时间。 这就是喜马拉雅。
                    </p>

                    <p>&nbsp;</p>
                    
                    <p class="p_con"><h1 style="font-size:16px;margin-bottom:10px;">喜马拉雅，常伴左右</h1></p>
                    
                    <p class="p_con">
                        &nbsp;&nbsp;&nbsp;上下班路上，公交地铁上，银行超市排队中，健身房里，开车堵车中，忙家务时，闭目养神那刻，请打开喜马拉雅；
                    </p>

                    <p class="p_con">
                        &nbsp;&nbsp;&nbsp;记录感人的瞬间，珍存好听的声音，留下声音备忘录，记录感想灵感或者心得，发出自己的声音，分享精彩的言论，推广才艺，语音教学，有好声音好节目，请打开喜马拉雅；
                    </p>

                    <p class="p_con">
                        &nbsp;&nbsp;&nbsp;陪伴宝宝成长，给宝宝听故事，听宝宝讲故事，记录分享宝宝成长的历程，请打开喜马拉雅；
                    </p>

                    <p class="p_con">
                        &nbsp;&nbsp;&nbsp;保护视力，孝敬爸妈，请打开喜马拉雅。
                    </p>

                    <p>&nbsp;</p>

                    <p class="p_con"><h1 style="font-size:16px;margin-bottom:10px;">我们的团队</h1></p>

                    <p class="p_con">
                        &nbsp;&nbsp;&nbsp;我们是一群简单而无畏的创业人，我们有来自业内的资深创业者，也有初出茅庐的职场菜鸟，共同构成了平等而富有激情的创业者家园，我们所有的努力只为了一个共同的目标：做一款让数亿用户爱不释手的产品。
                    </p>

                    <p>&nbsp;</p>

                    <p class="p_con"><h1 style="font-size:16px;margin-bottom:10px;">我们的办公环境</h1></p>

                    <p class="p_con">
                        <img src="<%= static_url '/css/img/others/aboutus_workplace1.png' %>" alt="" />
                    </p>

                    <p class="p_con">
                        图为两位萌妹子的办公桌。各种玩偶，清新的百合和绿竹，还有妹子巧手种植的水生植物，在这样的环境中开始新的一天，心情怎能不美腻？
                    </p>

                    <p class="p_con">
                        <img src="<%= static_url '/css/img/others/aboutus_workplace2.png' %>" alt="" />
                    </p>
                    <p class="p_con">
                        图为录音室。专业的设备，优质的隔音材料，期待为主播们提供更贴心的服务！录音室里还有茶水间，主播们可以休息时聊聊天，互相交流经验。我们更多精彩的专题策划即将在这里产生哦，敬请期待！
                    </p>
                    <p class="p_con">
                        <img src="<%= static_url '/css/img/others/aboutus_workplace3.png' %>" alt="" />
                    </p>
                    <p class="p_con">
                        图为宽敞明亮的办公室和会议室。喜马拉雅提倡伙伴式的工作氛围，鼓励问题及时沟通，每位员工都可以随时找到自己的主管，共同探讨问题。小伙伴们也可以随时开个玩笑，黑黑同事，调侃下主管，在欢乐的工作氛围中工作更加积极有效~
                    </p>

                    <p>&nbsp;</p>

                    <p class="p_con"><h1 style="font-size:16px;margin-bottom:10px;">我们的文化</h1></p>

                    <p class="p_con">
                        喜马拉雅的愿景：成为中国最大的好声音分享平台
                    </p>

                    <p class="p_con">
                        喜马拉雅的使命：让人们随时随地，听我想听，说我想说
                    </p>

                    <p class="p_con">
                        喜马拉雅的价值观： 
                    </p>

                    <p class="p_con">
                        •   以用户的需求为导向不懈创新
                    </p>

                    <p class="p_con">
                        •   象重视生命一样重视每一个执行细节
                    </p>

                    <p class="p_con">
                        •   象救火一样快速响应，搞定每一个问题
                    </p>

                    <p>&nbsp;</p>

                    <p>
                        公司新址：祖冲之路899弄11号楼
                    </p>
                    <p class="p_img">
                        <img src="<%= static_url '/css/img/passport/map2.png' %>" alt="" />
                    </p>

                </div>
            </div>
            <div class="personalSet-side">
                <div class="personalSet-side-tit"> <strong>关于我们</strong>
                </div>
                <div class="personalSet-side-con">
                    <ul class="personalSet-side-list">
                        <li class="selectAbout">
                            <a class="ico_5" href="javascript:;">关于喜马拉雅</a>
                        </li>
                        <li>
                            <a class="ico_6" href="/help/contact_us">联系我们</a>
                        </li>
                        <li>
                            <a class="ico_7" href="/help/official_news">公司新闻</a>
                        </li>
                        <li>
                            <a class="ico_9" href="/help/join_us">招纳贤士</a>
                        </li>
                    </ul>
                    <a class="personalSet-apply" href="/verify/"></a>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>
<!--主体 end-->

  <% content_for :script_own do  %>
  <script>
      requirejs(["page/404"], function (page) {
        page.init();
      });
  </script>
  <% end %>