<div id="home_wrapper">
  <div class="-a- mainbox">
    <div class="a">
      <div class="aa">
        <div class="aaa">
          <span class="bar1 already">作品版权申请</span>
          <span class="bar2">等待审核结果</span>
          <span class="bar3">版权登记成功</span>
        </div>

        <form id="copyRightForm">
          <input value="<%= @bean && @bean.id %>" type="hidden" name="bean_id"/>
          <table class="x" border="0" cellspacing="0" cellpadding="0">
            <thead>
              <td colspan="2">
                <div class="infoTit">
                  <h3 class="tit">作品信息</h3>
                </div>
              </td>
            </thead>
            <tbody>
              <tr>
                <td class="w100"><span class="red">*</span>作品名称</td>
                <td>
                  <input value="<%= @bean && @bean.work_name %>" type="text" class="w90p" name="bean_work_name"/>
                </td>
              </tr>
              <tr>
                <td class="w100">作品类别</td>
                <td>
                  录音制品
                </td>
              </tr>
              <tr style="line-height:40px;">
                <td class="w100"><span class="red">*</span>选择声音</td>
                <td>
                  <a href="javascript:;" class="soundBtn" id="choose_sound">选择声音</a>
                  <input name="bean_track_id" value="<%= @bean.track_id %>" type="hidden" class="w90p" id="track_id"/>
                  <span id="track_title"><%= @track && @track.title %></span>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="x">
            <thead>
              <td colspan="4">
                <div class="infoTit">
                  <h3 class="tit">著作权人信息</h3>
                </div>
              </td>
            </thead>
            <tbody>
              <tr>
                <td id="rightOwnerInit">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="temp x">
                    <tbody>
                      <tr>
                        <td class="w100"><span class="red">*</span>姓名/单位名称</td>
                        <td>
                          <%= @account.name %>
                        </td>
                        <td class="w100">类别</td>
                        <td>
                          <%= @account.legal_type %>
                        </td>
                      </tr>
                      <tr>
                        <td class="w100">证件类型</td>
                        <td>
                          <%= @account.certificate_type %>
                        </td>
                        <td class="w100"><span class="red">*</span>证件号码</td>
                        <td>
                          <%= @account.credential_number %>
                        </td>
                      </tr>
                      <tr>
                        <td class="w100">国籍</td>
                        <td>
                          <%= @account.nationality %>
                        </td>
                        <td class="w100">省份</td>
                        <td>
                          <%= @account.province %>
                        </td>
                      </tr>
                      <tr>
                        <td class="w100"><span class="red">*</span>城市</td>
                        <td>
                          <%= @account.city %>
                        </td>
                        <td class="w100">区县</td>
                        <td>
                          <%= @account.county %>
                        </td>
                      </tr>
                      <tr>
                        <td class="w100">署名情况</td>
                        <td>
                          <%= @account.alia_type %>
                        </td>
                        <% if @account.alia_type=="别名" %>
                        <td class="w100">别名</td>
                        <td>
                          <%= @account.alia %>
                        </td>
                        <% end %>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="x">
            <thead>
              <td colspan="4">
                <div class="infoTit">
                  <h3 class="tit">作者姓名或名称以及作品署名</h3>
                </div>
              </td>
            </thead>
            <tbody id="authorInit">
              <tr>
                <td class="w100"><span class="red">*</span>作者姓名或名称</td>
                <td>
                  <%= @account.name %>
                </td>
                <td class="w100">署名情况</td>
                <td class="w350">
                  <div class="fl">
                    <%= @account.alia_type %>
                  </div>
                  <% if @account.alia_type=='别名' %>
                  <div class="fl">
                    &nbsp;&nbsp;(<%= @account.alia %>)
                  </div>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="x">
            <thead>
              <td colspan="2">
                <div class="infoTit">
                  <h3 class="tit">作品基本信息</h3>
                </div>
              </td>
            </thead>
            <tbody>
              <tr>
                <td class="w100">作品创作性质</td>
                <td>
                  原创
                </td>
              </tr>
              <tr>
                <td class="w100"><span class="red">*</span>创作完成日期</td>
                <td>
                  <input value="<%= @bean && @bean.completion_date %>" type="text" class="w150" name="bean_completion_date"/>
                </td>
              </tr>

              <tr>
                <td class="w100">创作完成地点</td>
                <td>
                  国家：中国&nbsp;&nbsp;&nbsp;
                  <span class="red">*</span>城市：
                  <select name="bean_completion_city">
                    <% temp = @bean && @bean.completion_city %>
                    <option <% if temp.blank? or temp=='上海' %>selected<% end %>>上海</option>
                    <option <% if temp=='天津' %>selected<% end %>>天津</option>
                    <option <% if temp=='内蒙古' %>selected<% end %>>内蒙古</option>
                    <option <% if temp=='山西' %>selected<% end %>>山西</option>
                    <option <% if temp=='河北' %>selected<% end %>>河北</option>
                    <option <% if temp=='辽宁' %>selected<% end %>>辽宁</option>
                    <option <% if temp=='吉林' %>selected<% end %>>吉林</option>
                    <option <% if temp=='黑龙江' %>selected<% end %>>黑龙江</option>
                    <option <% if temp=='江苏' %>selected<% end %>>江苏</option>
                    <option <% if temp=='安徽' %>selected<% end %>>安徽</option>
                    <option <% if temp=='山东' %>selected<% end %>>山东</option>
                    <option <% if temp=='浙江' %>selected<% end %>>浙江</option>
                    <option <% if temp=='江西' %>selected<% end %>>江西</option>
                    <option <% if temp=='福建' %>selected<% end %>>福建</option>
                    <option <% if temp=='湖南' %>selected<% end %>>湖南</option>
                    <option <% if temp=='湖北' %>selected<% end %>>湖北</option>
                    <option <% if temp=='河南' %>selected<% end %>>河南</option>
                    <option <% if temp=='广东' %>selected<% end %>>广东</option>
                    <option <% if temp=='海南' %>selected<% end %>>海南</option>
                    <option <% if temp=='广西' %>selected<% end %>>广西</option>
                    <option <% if temp=='贵州' %>selected<% end %>>贵州</option>
                    <option <% if temp=='四川' %>selected<% end %>>四川</option>
                    <option <% if temp=='云南' %>selected<% end %>>云南</option>
                    <option <% if temp=='陕西' %>selected<% end %>>陕西</option>
                    <option <% if temp=='甘肃' %>selected<% end %>>甘肃</option>
                    <option <% if temp=='宁夏' %>selected<% end %>>宁夏</option>
                    <option <% if temp=='青海' %>selected<% end %>>青海</option>
                    <option <% if temp=='新疆' %>selected<% end %>>新疆</option>
                    <option <% if temp=='西藏' %>selected<% end %>>西藏</option>
                    <option <% if temp=='重庆' %>selected<% end %>>重庆</option>
                    <option <% if temp=='香港' %>selected<% end %>>香港</option>
                    <option <% if temp=='澳门' %>selected<% end %>>澳门</option>
                    <option <% if temp=='台湾' %>selected<% end %>>台湾</option>
                  </select>
                </td>
              </tr>

              <tr>
                <td class="w100">
                  <span class="red">*</span>发表状态
                </td>
                <td>
                  已发表
                </td>
              </tr>

              <tr>
                <td class="w100">
                  <span class="red">*</span>首次发表时间
                </td>
                <td>
                  <input value="<%= @bean && @bean.published_date %>" type="text" class="w150" name="bean_published_date"/>
                </td>
              </tr>

              <tr>
                <td class="w100">
                  <span class="red">*</span>首次发表地点
                </td>
                <td>
                  国家：中国&nbsp;&nbsp;&nbsp;
                  <span class="red">*</span>城市：
                  <select name="bean_published_city">
                    <% temp = @bean && @bean.published_city %>
                    <option <% if temp.blank? or temp=='上海' %>selected<% end %>>上海</option>
                    <option <% if temp=='天津' %>selected<% end %>>天津</option>
                    <option <% if temp=='内蒙古' %>selected<% end %>>内蒙古</option>
                    <option <% if temp=='山西' %>selected<% end %>>山西</option>
                    <option <% if temp=='河北' %>selected<% end %>>河北</option>
                    <option <% if temp=='辽宁' %>selected<% end %>>辽宁</option>
                    <option <% if temp=='吉林' %>selected<% end %>>吉林</option>
                    <option <% if temp=='黑龙江' %>selected<% end %>>黑龙江</option>
                    <option <% if temp=='江苏' %>selected<% end %>>江苏</option>
                    <option <% if temp=='安徽' %>selected<% end %>>安徽</option>
                    <option <% if temp=='山东' %>selected<% end %>>山东</option>
                    <option <% if temp=='浙江' %>selected<% end %>>浙江</option>
                    <option <% if temp=='江西' %>selected<% end %>>江西</option>
                    <option <% if temp=='福建' %>selected<% end %>>福建</option>
                    <option <% if temp=='湖南' %>selected<% end %>>湖南</option>
                    <option <% if temp=='湖北' %>selected<% end %>>湖北</option>
                    <option <% if temp=='河南' %>selected<% end %>>河南</option>
                    <option <% if temp=='广东' %>selected<% end %>>广东</option>
                    <option <% if temp=='海南' %>selected<% end %>>海南</option>
                    <option <% if temp=='广西' %>selected<% end %>>广西</option>
                    <option <% if temp=='贵州' %>selected<% end %>>贵州</option>
                    <option <% if temp=='四川' %>selected<% end %>>四川</option>
                    <option <% if temp=='云南' %>selected<% end %>>云南</option>
                    <option <% if temp=='陕西' %>selected<% end %>>陕西</option>
                    <option <% if temp=='甘肃' %>selected<% end %>>甘肃</option>
                    <option <% if temp=='宁夏' %>selected<% end %>>宁夏</option>
                    <option <% if temp=='青海' %>selected<% end %>>青海</option>
                    <option <% if temp=='新疆' %>selected<% end %>>新疆</option>
                    <option <% if temp=='西藏' %>selected<% end %>>西藏</option>
                    <option <% if temp=='重庆' %>selected<% end %>>重庆</option>
                    <option <% if temp=='香港' %>selected<% end %>>香港</option>
                    <option <% if temp=='澳门' %>selected<% end %>>澳门</option>
                    <option <% if temp=='台湾' %>selected<% end %>>台湾</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="x">
            <thead>
              <td>
                <div class="infoTit">
                  <h3 class="tit">作品说明</h3>
                </div>
              </td>
            </thead>
            <tbody>
              <tr>
                <td class="w100"><span class="red">*</span>设计理念</td>
              </tr>
              <tr>
                <td>
                  <textarea class="w90p h60" name="bean_design_concept"><%= @bean && @bean.design_concept %></textarea>
                </td>
              </tr>
              <tr>
                <td class="w100"><span class="red">*</span>主要特征描述（需要提到音频时长）</td>
              </tr>
              <tr>
                <td>
                  <textarea class="w90p h60" name="bean_feature_desc"><%= @bean && @bean.feature_desc %></textarea>
                </td>
              </tr>
              <tr>
                <td class="w100"><span class="red">*</span>创作过程描述</td>
              </tr>
              <tr>
                <td>
                  <textarea class="w90p h60" name="bean_process_desc"><%= @bean && @bean.process_desc %></textarea>
                </td>
              </tr>
              <tr>
                <td class="w100"><span class="red">*</span>作品用途</td>
              </tr>
              <tr>
                <td>
                  <textarea class="w90p h60" name="bean_purpose"><%= @bean && @bean.purpose %></textarea>
                </td>
              </tr>
              <tr style="line-height: 5px;height:5px;">
                <td>&nbsp;</td>
              </tr>

            </tbody>
          </table>

          <table class="x">
            <thead>
              <td colspan="2">
                <div class="infoTit">
                  <h3 class="tit">权利状况说明</h3>
                </div>
              </td>
            </thead>
            <tbody>
              <tr>
                <td class="w150">权利取得方式</td>
                <td>
                  原始
                </td>
              </tr>
              <tr>
                <td class="w150">权利归属方式</td>
                <td>
                  <div>
                    合作作品
                  </div>
                </td>
              </tr>
              <tr>
                <td class="w150">权利携有状况</td>
                <td>
                  全部
                </td>
              </tr>
            </tbody>
          </table>

          <table class="x">
            <thead>
              <td colspan="2">
                <div class="infoTit">
                  <h3 class="tit">留存作品样本(可选择其中一项进行填写)</h3>
                </div>
              </td>
            </thead>
            <tbody>
              <tr>
                <td class="w100">电子介质</td>
                <td>
                  DVD-ROM 1份
                </td>
              </tr>
              <tr>
                <td class="w100">纸 介 质</td>
                <td>
                  无
                </td>
              </tr>
            </tbody>
          </table>

          <table class="x">
            <thead>
              <td colspan="2">
                <div class="infoTit">
                  <h3 class="tit">申请办理信息</h3>
                </div>
              </td>
            </thead>
            <tbody>
              <tr>
                <td class="w100">申请方式</td>
                <td>
                  由著作权人申请
                </td>
              </tr>
            </tbody>
          </table>

          <table class="x">
            <thead>
              <td colspan="4">
                <div class="infoTit">
                  <h3 class="tit">申请人信息</h3>
                </div>
              </td>
            </thead>
            <tbody id="applicantInit">
              <tr>
                <td class="w100"><span class="red">*</span>姓名或单位名称</td>
                <td>
                    <%= @account.name %>
                </td>
                <td class="w100">&nbsp;</td>
                <td class="w250">&nbsp;</td>
              </tr>
              <tr>
                <td class="w100"><span class="red">*</span>通信地址</td>
                <td>
                    <input value="<%= @account.address %>" type="text" class="w90p" name="appliciant_address"/>
                </td>
              </tr>
              <tr>
                <td class="w100"><span class="red">*</span>邮政编码</td>
                <td>
                    <input value="<%= @account.zip_code %>" type="text" class="w90p" name="appliciant_zip_code"/>
                </td>
              </tr>
              <tr>
                <td class="w100"><span class="red">*</span>联系人</td>
                <td>
                    <input value="<%= @account.name %>" type="text" class="w90p" name="appliciant_contact"/>
                </td>
              </tr>
              <tr>
                <td class="w100"><span class="red">*</span>联系电话</td>
                <td>
                    <input value="<%= @account.tel %>" type="text" class="w90p" name="appliciant_tel"/>
                </td>
              </tr>
              <tr>
                <td class="w100">邮箱</td>
                <td>
                    <input value="<%= @account.email %>" type="text" class="w90p" name="appliciant_email"/>
                </td>
              </tr>
              <tr>
                <td class="w100">手机号码</td>
                <td>
                    <input value="" type="text" class="w90p" name="appliciant_cellphone"/>
                </td>
              </tr>
              <tr>
                <td class="w100">传真号码</td>
                <td>
                    <input value="<%= @account.fax %>" type="text" class="w90p" name="appliciant_fax"/>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="x">
            <thead>
              <td colspan="2">
                <div class="infoTit">
                  <h3 class="tit">报审单位</h3>
                  <span>&nbsp;(注:请就近选择报审单位，方便后续递送材料。)</span>
                </div>
              </td>
            </thead>
            <tbody>
              <tr>
                <td class="w100"><span class="red">*</span>工作站名称</td>
                <td>
                  上海版权服务中心
                </td>
              </tr>
            </tbody>
          </table>

          <div class="submit_wrap">
            <button class="green" type="button" onclick="submit_form();"><%= @edit_flag ? '确认修改' : '提交' %></button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="red" type="button" onclick="cancel_form('<%= @bean && @bean.id %>');"><%= @edit_flag ? '删除' : '取消' %></button>
            <% if @edit_flag %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="" type="button" onclick="window.location.href='/copyright/show'">返回</button>
            <% end %>
          </div>
        </form>

      </div>
    </div>
  </div>




</div>


<style type="text/css">

.w100{
  width:100px;
}
.w150{
  width:150px;
}
.w200{
  width:200px;
}
.w250{
  width:250px;
}
.w350{
  width:350px;
}
.w400{
  width:400px;
}
.w90p{
  width:90%;
}

.h60{
  height:60px;
}

.bd{
  border-bottom: 1px dashed #ccc;
}

span.red{
  color:red;
}

.infoTit {
border-bottom: 1px solid #CCCCCC;
text-align:left;
}

.infoTit .tit {
height: 28px;
line-height: 28px;
font-size: 18px;
color: #999999;
display: inline-block;
font-weight: bold;
}

.-a- .a{
margin: 40px 0;
padding: 40px 0;
background-color: #fff;
}
.-a- .aa{
width: 710px;
margin: 0 auto;
}
.-a- .aaa{
position: relative;
height: 35px;
margin-top: 20px;
font-size: 14px;
color: #999;
}

.-a- .aaa span {
display: inline-block;
width: 250px;
height: 35px;
text-align: center;
line-height: 35px;
background: url("http://s1.xmcdn.com/1385092349/css/img/sprite/vip_progress_bar.png") no-repeat;
position: absolute;
top: 0;
font-size: 14px;
color: #999;
}

.-a- .aaa span.already {
color: #fff;
}

.-a- .aaa .bar1 {
background-position: 0 2px;
left: 0;
}

.-a- .aaa .bar1.already {
background-position: 0 -38px;
}

.-a- .aaa .bar2 {
background-position: 0 -78px;
left: 240px;
}

.-a- .aaa .bar2.already {
background-position: 0 -118px;
}

.-a- .aaa .bar3 {
background-position: 0 -158px;
left: 480px;
}

.-a- .aaa .bar3.already {
background-position: 0 -198px;
}

.submit_wrap{
  text-align:right;
}

table.x{
  border:1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 2px;
}

table.x.temp{
  margin:0;
}

table.x tr{
line-height:30px;
}

.hidden{
  display:none;
}

.fl{
  float:left;
}

.fr{
  float:right;
}

span.down{
  color:#888;
}

textarea{
  border: solid 1px #dddddd;
}

button {
cursor: pointer;
display: inline-block;
vertical-align: middle;
min-height: 1em;
outline: 0;
border: 0;
background-color: #FAFAFA;
color: gray;
margin: 0;
padding: .8em 1.5em;
font-size: 1rem;
text-transform: uppercase;
line-height: 1;
font-weight: 700;
font-style: normal;
text-align: center;
text-decoration: none;
background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.05)));
background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.05));
border-radius: .25em;
-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.08) inset;
box-shadow: 0 0 0 1px rgba(0,0,0,.08) inset;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,-webkit-box-shadow .25s ease;
transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,box-shadow .25s ease;
}

button:hover {
background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.08)));
background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.08));
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.08));
color: rgba(0,0,0,.6);
}

button.active {
background-color: #EAEAEA;
background-image: none;
-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.05) inset!important;
box-shadow: 0 0 0 1px rgba(0,0,0,.05) inset!important;
color: rgba(0,0,0,.7);
}

button.green {
  background-color: #5BBD72;
  color: #FFFFFF;
}

button.green:hover {
  background-color: #58cb73;
  color: #FFFFFF;
}

button.green:active {
  background-color: #4CB164;
  color: #FFFFFF;
}

button.red {
  background-color: #D95C5C;
  color: #FFFFFF;
}

button.red:hover {
  background-color: #E75859;
  color: #FFFFFF;
}

button.red:active {
  background-color: #D24B4C;
  color: #FFFFFF;
}

button {
  font-size: 1rem;
}
button.big {
  font-size: 1.25rem;
}


</style>

<script type="text/javascript">


// Allow for console.log to not break IE
if (typeof window.console == "undefined" || typeof window.console.log == "undefined") {
  window.console = {
    log  : function() {},
    info : function(){},
    warn : function(){}
  };
}

function addCopyRightOwner(){
var temp = $('#rightOwnerTemp').html();
$('#rightOwnerInit').append(temp);
}

function addAuthor(){
var temp = $('#authorTemp').html();
$('#authorInit').append(temp);
}

function addApplicant(){
var temp = $('#applicantTemp').html();
$('#applicantInit').prepend(temp);
}

</script>


<% content_for :script_own do  %>
<script>
  requirejs(["page/404",'plugin/dialog','model/verify','module/verify/soundselect','plugin/datepicker'], function (page,dialog,VerifyModel,soundselect) {
    page.init();

    var now = new Date();
    var $datepicker1 = $('[name=bean_completion_date]');

    $datepicker1.DatePicker({
     //   format:'m/d/Y',
        date: now,
        current:now,
        starts: 1,
        position: 'bottom',
        onBeforeShow: function(){
            $datepicker1.DatePickerSetDate($datepicker1.val() || now, true);
        },
        onChange: function(formated, date){
            $datepicker1.val(formated);
        }
    });


    var $datepicker2 = $('[name=bean_published_date]');

    $datepicker2.DatePicker({
     //   format:'m/d/Y',
        date: now,
        current:now,
        starts: 1,
        position: 'bottom',
        onBeforeShow: function(){
            $datepicker2.DatePickerSetDate($datepicker2.val() || now, true);
        },
        onChange: function(formated, date){
            $datepicker2.val(formated);
        }
    });


    var verify_model = new VerifyModel();

    //选取声音
    $("#choose_sound").on("click", function () {
        verify_model.getTrackList(function (model, data) {
            soundselect.model.set("track_id", $("#track_id").val());
            soundselect.show({}, data);
        }, function () { });
    });

    var cache_url = null,
        cache_data = null;
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          // 避免重复提交
          var this_url = settings.url,
              this_data = settings.data;
          if(this_url==cache_url && this_data==cache_data){
            return false;
          }else{
            cache_url=this_url;
            cache_data=this_data;
          }
        },
        complete:function(){
          cache_url = null;
          cache_data = null;
        },
        error:function(info){
          // nothing
        }
    });


    var save_time = 15000,
        auto_save_timer,
        cache_form_data;

    // 隔一段时间保存一次草稿
    window.save_draft = function(){
      if(cache_form_data){
        var this_form_data = $('#copyRightForm').serialize();
        if(this_form_data==cache_form_data){
          console.info('not modify');
        }else{
          console.info('save draft');
          $.ajax({
              url:'/copyright/save_draft',
              type:"post",
              dataType:"json",
              data:this_form_data,
              success:function(json){
                // nothing
              }
          });
          cache_form_data = this_form_data;
        }
      }else{
        // 缓存初始化表单，之后表单内容有更改，自动保存
        cache_form_data = $('#copyRightForm').serialize();
      }
      auto_save_timer = setTimeout(function(){save_draft();},save_time);
    }

    auto_save_timer = setTimeout(function(){save_draft();},3000);  

    window.submit_form = function(){

      var this_form_data = $('#copyRightForm').serialize();
      // 前端没有验证，服务端验证

      //关闭自动保存
      clearTimeout(auto_save_timer);
      
      //提交表单
      $.ajax({
          url:'/copyright/create',
          type:"post",
          dataType:"json",
          data:this_form_data,
          success:function(json){
            var res = json.res,
                msg = json.msg,
                bean_id= json.bean_id,
                dom_name = json.dom_name;
            if(res){
              if(msg){
                dialog.success(msg);
              }
              //跳转到待审核页
              window.location.href="/copyright/show";
            }else{
              if(msg){
                dialog.alert(msg);
              }
              if(dom_name){
                var i = 0;
                $('[name='+dom_name+']').each(function(){
                  if(!i){
                    $(this).focus();
                  }
                  i++;
                  shine($(this));
                });
              }
              // 恢复自动保存
              cache_form_data = this_form_data;
              auto_save_timer = setTimeout(function(){save_draft();},save_time);
            }
          }
      });
    }

    window.cancel_form = function(bean_id){

      //关闭自动保存
      dialog.confirm("确认取消此次版权申请吗？", function(){
          //取消表单

          clearTimeout(auto_save_timer);

          $.ajax({
              url:'/copyright/cancel',
              type:"post",
              dataType:"json",
              data:{
                bean_id:bean_id
              },
              success:function(json){
                window.location.href="/copyright/show";
              }
          });
      });
    }

    function shine(c){
      var b = function(a) {
          return a.slice(0, a.length - 1).concat(a.concat([]).reverse())
      };
      var e = {start: "#fff",color: "#fbb",times: 2,step: 5,length: 4},
          f = e.start.split(""),
          g = e.color.split(""),
          h = [];
      for (var i = 0; i < e.step; i += 1) {
        var j = f[0];
        for (var k = 1; k < e.length; k += 1) {
          var l = parseInt(f[k], 16),
          m = parseInt(g[k], 16);
          j += Math.floor(parseInt(l + (m - l) * i / e.step, 10)).toString(16);
        }
        h.push(j)
      }
      for (var i = 0; i < e.times; i += 1) h = b(h);
      var n = !1,
      interval = setInterval(function(){
        if (!h.length) clearInterval(interval);
        else {
          if (n) {
            n = !1;
            return
          }
          n = !0;
          c.css('background-color',h.pop());
        }
      },25)
    }

  });
</script>
<% end %>

