<div id="msgLetter" class="mainbox_wrapper">
    <div class="mainbox_left">
        <div class="msg_container">
            <div class="msg_header">
                <span class="title">消息中心</span>
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="<%= link_path "/msgcenter/notice" %>">系统通知</a>
                    </li>
                    <li class="nav_item">
                        <a href="<%= link_path "/msgcenter/referme" %>">@我的</a>
                    </li>
                    <li class="nav_item">
                        <a href="<%= link_path "/msgcenter/comment" %>">评论</a>
                    </li>
                    <li class="nav_item on">
                        <a href="javascript:;">私信</a>
                    </li>
                    <li class="nav_item">
                        <a href="<%= link_path "/msgcenter/like" %>">赞</a>
                    </li>
                </ul>
            </div>
            <div class="msg_body">
                <div class="msg_body_top">
                    <div class="left">
                        <span class="title">私信</span>
                        <span class="count"></span>
                    </div>
                    <div class="right"></div>
                </div>
                <div class="msg_list_wrap">
                    <div class="letter_list_header">
                        <div class="left"><%= (params[:q] and params[:q]!="") ? '找到' : '已有' %><%= @linkmen_list_count %>个联系人</div>
                        <span class="sendLetterBtn right">
                            <span class="icon">发私信</span>
                        </span>
                        <div class="searchPanel2 right">
                            <input class="search_input" type="text" value="<%= params[:q] %>" name="" autocomplete="off" placeholder="搜索联系人或内容">
                            <span class="search_btn"></span>
                        </div>
                    </div>

                    <% if @linkmen.size > 0 %>
                    <ul class="msg_notice_list">

                      <% @linkmen.each_with_index do |l| %>
                        <%
                          last = @last_chats[l.id]
                          next unless last
                          user = @users[l.linkman_uid]
                          # chats_count = Chat.shard(@current_uid).where(uid: @current_uid, with_uid: l.linkman_uid).count
                        %>
                        <li class="msg_notice_item">
                            <div class="content_wrap">
                                <div class="picture">
                                  <a href="<%= link_his_path(l.linkman_uid) %>">
                                    <img width="60px" height="60px" card="<%= l.linkman_uid %>" alt="<%= l.linkman_nickname %>" src="<%= l.linkman_uid==2 ? static_url('/css/img/common/laya_86.jpg') : picture_url('header', user.logoPic, '60') %>" data-options="defaultImg:person_60">
                                  </a>
                                </div>
                                <div class="detail">
                                    <div class="detail_top letter_def">
                                        <span>
                                            <a class="from" href="<%= link_his_path(l.linkman_uid) %>"><%= l.linkman_nickname %>:</a>
                                        </span>
                                        <span><%== simple_format(puts_face(last.content)) %></span>
                                    </div>
                                    <div class="detail_content"></div>
                                    <div class="detail_bottom">
                                        <span class="left"><%= parse_time_until_now last.created_at %></span>
                                        <span class="letter_counter">
                                            <a href="<%= link_path("/letter/#{l.linkman_uid}") %>">查看聊天记录<% if l.no_read_count and l.no_read_count > 0 -%>(<%= l.no_read_count %>条未读)<% end -%></a>
                                        </span>
                                        <span class="right">
                                            <a href="javascript:;" data-options="nickname:'<%= l.linkman_nickname %>'">回复</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <a class="close" title="删除" data-options="id:<%= l.linkman_uid %>" href="javascript:;"></a>
                        </li>
                      <% end %>
                    </ul>
                    <% end %>

                    <div class="pagingBar mgTB20">
                        <%== paginate CustomPagination.new(@linkmen_count,@page,@per_page), {outer_window: 1, url:"/msgcenter/letter", link_path: @current_uid.present?} %>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="mainbox_right">
        <div class="msg_helper">
            <div class="msg_header_title">私信小帮助</div>
            <div class="question">不想让陌生人发信骚扰？</div>
            <div class="answer">
                去
                <a href="/#/personal_settings/privacy">隐私设置</a>
                进行隐私权限设置
            </div>
        </div>
    </div>
</div>