
<div class="ad1">
  <%== erb :_advertise, locals: { id: 728786, width:'200px',height:'80px' } %>
</div>
<%
tag_followers = FollowerTag.stn(params[:tname]).where(tname: params[:tname]).order("created_at desc")
follower_uids = tag_followers.limit(6).collect{|t| t.uid}
profile_users = $profile_client.getMultiUserBasicInfos(follower_uids)
right_tagfollowers = follower_uids.collect{ |uid| profile_users[uid] }
%>


<% if right_tagfollowers.count > 0 %>

<% 
  uids = right_tagfollowers.map{|user| user.uid}
  @follow_status = {}
  if uids.size > 0
    @tracks_counts = $counter_client.getByIds(Settings.counter.user.tracks, uids)
    @followers_counts = $counter_client.getByIds(Settings.counter.user.followers, uids)
    follows = Following.stn(@current_uid).where(uid: @current_uid, following_uid: uids).select('following_uid, is_mutual')
    follows.each do |f|
      @follow_status[user.following_uid] = [true,user.is_mutual]
    end
  else
    @tracks_counts, @followers_counts = [], []
  end
%>

<div class="recommendedBar">
  <div class="titleBar">
    <a href="<%= link_path("/tag/#{@tag_name}/follower") %>" class="more">更多</a>
    <h2 class="title">这些人添加了该标签</h2>
  </div>
  <ul class="personPanelBar3List">
    <% right_tagfollowers.each_with_index do |user, i| %>
    <% 
      next if user.nil?
      next if user.isLoginBan
      is_follow,be_followed =  @follow_status[user.uid]
    %>

    <li class="listItem">
      <div class="personPanelBar3">
        <div class="cl">
          <div class="left">
            <a class="userface" href="<%= link_his_path(user.uid) %>" card="<%= user.uid %>">
              <img alt="<%= user.nickname %>" src="<%= picture_url('header', user.logoPic, '60') %>" data-options="defaultImg:person_60"><span></span>
            </a>
          </div>
          <div class="middle">
            <div class="title">
              <a href="<%= link_his_path(user.uid) %>" title="<%= user.nickname %>"><%= user.nickname %></a>
            </div>
          </div>
          <div class="right">
              <% if @current_uid != user.uid %>
              <a class="addBtn2 small <%= "already" if is_follow %> <%= "both" if be_followed %>" data-options="<%= {uid:user.uid,is_follow:is_follow,nickname:user.nickname}.to_json[1..-2] %>" href="javascript:;">
                  <span class="default"><%= (is_follow && be_followed) ? "相互" : is_follow ? "已" : "" %>关注</span>
                  <span class="hover">取消</span>
              </a>
              <% end %>
          </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<% end %>
